{% extends 'index' %}

{% set gallerijEntries = craft.entries.section('gallerij').all() %}

{% set allPhotos = [] %}
{% for entry in gallerijEntries %}
	{% set photos = entry.images.all() %}
	{% if photos|length %}
		{% set allPhotos = allPhotos|merge(photos) %}
	{% endif %}
{% endfor %}

{% set photosPerPage = 8 %}
{% set currentPage = craft.app.request.getParam('page') ?? 1 %}
{% set totalPages = (allPhotos|length / photosPerPage)|round(0, 'ceil') %}
{% set offset = (currentPage - 1) * photosPerPage %}

{% set paginatedPhotos = allPhotos|slice(offset, photosPerPage) %}

{% block content %}

	<div class="section">
		<h1 class="section-title">Gallerij</h1>
		<div class="section-gallerywrapper">
			{% for photo in paginatedPhotos %}
				<div class="section-gallerywrapper-item">
					<img src="{{ photo.url }}" alt="{{ photo.title }}">
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="section-pages">

		{% if currentPage > 1 %}
			<a href="{{ craft.app.request.pathInfo }}?page={{ currentPage - 1 }}">Previous page</a>
		{% else %}
			<a href="{{ craft.app.request.pathInfo }}?page={{ totalPages }}">Previous page</a>
		{% endif %}

		{% set totalPages = (allPhotos|length / photosPerPage)|round(0, 'ceil') %}
		{% set nextPage = currentPage + 1 %}
		{% if nextPage > totalPages %}
			<a href="{{ craft.app.request.pathInfo }}?page=1">Next Page</a>
		{% else %}
			<a href="{{ craft.app.request.pathInfo }}?page={{ nextPage }}">Next Page</a>
		{% endif %}
	</div>
{% endblock %}
