<!DOCTYPE html>
{% set logo = home.logo.one() %}
{% set image = home.image.one()  %}
{% set login = craft.entries.section('login').one()  %}
{% set gallerij = craft.entries.section('gallerijtitle').one()  %}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Duikclub Dolfijn |
			{{ pageTitle }}</title>

		<!-- Scripts -->
		<script src="{{siteUrl}}scripts/navigation_menu.js"></script>

		<!-- CSS -->
		<link
		rel="stylesheet" href="{{siteUrl}}css/main.css">

		<!-- Flatpickr -->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

		<!-- Library's -->
		<script src="https://kit.fontawesome.com/6c14ee3bf9.js" crossorigin="anonymous"></script>

		<!-- Fonts -->
		<link href="/assets/fonts/StageGrotesk-Light.woff2" as="font" type="font/woff2" crossorigin>
		<link href="/assets/fonts/StageGrotesk-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link href="/assets/fonts/StageGrotesk-Medium.woff2" as="font" type="font/woff2" crossorigin>
		<link href="/assets/fonts/StageGrotesk-Bold.woff2" as="font" type="font/woff2" crossorigin>

		<link rel="icon" href="{{siteUrl}}favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{siteUrl}}favicon.png" sizes="32x32" type="image/png">
		<link rel="icon" href="{{siteUrl}}favicon.png" sizes="16x16" type="image/png">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	</head>
	<body>
		<div class="navigation">
			{% if currentUser %}
				{% if currentUser.photo %}
					{% set userPhoto = currentUser.photo %}
					<a href="{{ login.url }}" class="profile-picture" style="background-image: url('{{ userPhoto.getUrl() }}');"></a>
				{% else %}
					<!-- Als er geen gebruikersafbeelding is, toon een standaardafbeelding -->
					<a href="{{ login.url }}" class="profile-picture" style="background-image: url('{{siteUrl}}favicon.png');"></a>
				{% endif %}
			{% else %}
				<a href="{{ login.url }}" class="profile-picture" style="background: center bottom url('{{siteUrl}}user-solid.svg'); background-size: 65%; background-repeat:no-repeat; background-color:#1b1b1b;"></a>
			{% endif %}
			<a href="{{siteUrl}}"><img src="{{ logo.url }}" alt="{{ logo.title }}" class="logo"></a>
			<div class="menu-icon" id="menu-icon" onclick="toggleScroll()">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>

			{# <div id="menu-overlay">
            <ul>
                <li><a href="../html/duiken.html">Duiken</a></li>
                <li><a href="#">Gallerij</a></li>
                <li><a href="../html/evenementen.html">Evenementen</a></li>
                <li id="leden-wrapper">
                    <a href="#" id="leden-link" onclick="toggleSubmenu(event)">Leden <i class="fa-solid fa-chevron-down fa-xs"></i></a>
                    <ul class="submenu" id="leden-submenu">
                        <li><a href="#">Agenda</a></li>
                        <li><a href="#">Ice lijst</a></li>
                        <li><a href="#">Documenten</a></li>
                        <li><a href="#">Boetiek</a></li>
                        <li><a href="#">Clubreizen</a></li>
                    </ul>
                </li>
                <li><a href="#">Over ons</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div> #}

			<div id="menu-overlay">
				<ul>
					{% for link in header.navlinks.all()|slice(0, 3) %}
						{% set destination = link.linkDestination.one() %}
						<li>
							<a href="{{ destination.url }}">{{ link.title }}</a>
						</li>
					{% endfor %}
					{% for link in header.navlinks.all()|slice(3, 1) %}
						{% set destination = link.linkDestination.one() %}
						<li id="leden-wrapper">
                    	<a href="{{ destination.url }}" id="leden-link" onclick="toggleSubmenu(event)">{{ link.title }} <i class="fa-solid fa-chevron-down fa-xs"></i></a>
					{% endfor %}
                    <ul class="submenu" id="leden-submenu">
					{% for link in ledenNavigatie.navlinks.all() %}
						{% set destination = link.linkDestination.one() %}
                        <li><a href="{{ destination.url }}">{{ link.title }}</a></li>
					{% endfor %}
					</ul>
					</li>
					{% for link in header.navlinks.all()|slice(4)%}
						{% set destination = link.linkDestination.one() %}
						<li>
							<a href="{{ destination.url }}">{{ link.title }}</a>
						</li>
					{% endfor %}
                    </ul>
                </li>
				</ul>
			</div>
		</div>
		{% block content %}{% endblock %}
		<footer class="footer">
			<div class="footer-wrapper">
				<div class="footer-text">
					<h2>#kopjeonder</h2>
				</div>
				<div class="footer-links">
					<a href="#">reglement</a>
					<a href="#">algemene voorwaarden</a>
					<a href="#">privacy verklaring</a>
				</div>
				<div class="footer-social">
					<i class="fa-brands fa-facebook"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-tiktok"></i>
				</div>
				<div class="footer-federations">
					{% for federations in home.images.all() %}
						<img src="{{federations.url}}" alt="{{federations.title}}">
					{% endfor %}
				</div>
			</div>
			<p>@ copyright: Duikclub Dolfijn</p>
		</footer>

		<!-- Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script src="{{siteUrl}}scripts/calendar.js"></script>
	</body>
</html>
