{% extends "index" %}

{% set pageTitle = entry.title %}


{% set bannerimage = entry.image.one()  %}
{% set duikInformatie = craft.entries.section('duikinformatie').all() %}


{% block content %}
	<div class="duiken-wrapper" id="content1">
		<div class="duiken-banner">
			<img src="{{ bannerimage.url }}" alt="{{ image.title }}">
			<div class="duiken-banner-content">
				<h1>{{ entry.title }}</h1>
				<p>Ben je benieuwd naar de verschillende opleidingen binnen duiken en welke brevetten er te behalen zijn?</p>

				<div class="bottom-text">
					{% for link in duikInformatieNav.navlinks.all() %}
						{% set destination = link.linkDestination.one() %}
						{% set isActive = entry.title == link.title %}
						
						<a href="{{ destination.url }}" class="rotate-link {% if isActive %}active-link{% endif %}" data-content="content{{ loop.index }}">{{ link.title }}</a>
					{% endfor %}
				</div>
			</div>
		</div>

		{% for link in duikInformatieNav.navlinks.all() %}
			{% set destination = link.linkDestination.one() %}
			{% if entry.title == link.title %}
                {% include "snippets/_" ~ entry.title ~ ".twig" %}
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}
